<div id="<%= dom_id job %>" class="scrollableTable breakpoint-976">
  <table class="table-auto">  
    <thead>
      <tr>
        <th>Job Number</th>
        <th>Name</th>
        <th>Project Manager</th>
        <th>Status</th>
        <th>Start Date</th>
        <th>Deadline</th>
        <th>Total Cost (PO Total)</th>
        <th>Customer</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <span class="th" aria-hidden="true">Job Number</span>
          <span><%= job.job_number %></span>
        </td>
        <td>
          <span class="th" aria-hidden="true">Name</span>
          <span>
          <% if action_name != "show" %>
            <%= link_to job.name, job %>
          <% else %>
            <%= job.name %>
          <% end %>
          </span>
        </td>
        <td>
          <span class="th" aria-hidden="true">Project Manager</span>
          <span><%= job.project_manager&.username %></span>
        </td>
        <td>
          <span class="th" aria-hidden="true">Status</span>
          <span><%= job.status %></span>
        </td>
        <td>
          <span class="th" aria-hidden="true">Start Date</span>
          <span><%= job.start_date %></span>
        </td>
        <td>
          <span class="th" aria-hidden="true">Deadline</span>
          <span><%= job.deadline %></span>
        </td>
        <td>
          <span class="th" aria-hidden="true">Total Cost (PO total)</span>
          <span><%= number_to_cost(job.total_cost) %> (<%= number_to_currency(job.orders.sum(&:total_cost)) %>)</span>
        </td>
        <td>
          <span class="th" aria-hidden="true">Customer</span>
          <span><%= link_to job.customer.name, job.customer %></span>
        </td>
        <td class="td-button-row-parent no-th">
          <div class="td-button-row">
            <%= link_to "Export to CSV", job_csv_export_path(job), class: "button export-csv-button" %>
            <%= link_to "Create Order", new_order_path(job_id: job.id, team_id: job.team_id), class: "button create-order primary", data: { turbo_frame: "modal" } unless job.status == "Closed" %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <% if job.jobsite&.address_1.present? || job.jobsite&.city.present? %>
    <h3>Jobsite:</h3>
    <table>
      <thead>
        <tr>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Zip Code</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= job.jobsite&.address_1 + (job.jobsite&.address_2.present? ? ", " + job.jobsite&.address_2 : "") %></td>
          <td><%= job.jobsite&.city %></td>
          <td><%= job.jobsite&.state %></td>
          <td><%= job.jobsite&.zip_code %></td>
        </tr>
      </tbody>
    </table>
  <% end %>

  <% if action_name != "show" %>
    <%= link_to "Edit This Job", edit_job_path(job), class: "button edit-button edit-button primary" %>
    <hr>
  <% end %>
</div>

