<div class="scrollableTable breakpoint-976 resizable dd-order-detail-table">
    <table class="table-auto order-detail-bottom-table">
        <thead>
            <tr>
              <th>Line Number</th>
              <% if @order.line_items.where(manual: true).any? %>
                <th>SKU</th>
                <th>Description</th>
              <% else %>
                <th>Part</th>
                <th><%= capital_assembly %></th>
              <% end %>
              <th>Cost per Unit</th>
              <th>Received</th>
              <th>Discount</th>
              <th>Total Cost</th>
              <th>Expected Delivery</th>
              <th>Status / Location</th>
              <th>O&M Warranty</th>
              <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            <% line_item_list.order(:created_at).each_with_index do |li, i| %>
                <tr id=<%= dom_id li %>>
                  <td>
                    <span class="th" aria-hidden="true">Line Number</span>
                    <span><%= i + 1 %></span>
                  </td>
                    <% if @order.line_items.where(manual: true).any? %>
                        <% if li.manual %>
                          <td>
                            <span class="th" aria-hidden="true">SKU</span>
                            <span><%= li.sku %></span>
                          </td>
                          <td>
                            <span class="th" aria-hidden="true">Description</span>
                            <span><%= li.description %></span>
                          </td>
                        <% else %>
                          <td>
                            <span class="th" aria-hidden="true">SKU</span>
                            <span><%= link_to li.part.label, li.part, data: { turbo_frame: "modal" } %><%= " (" if li.assembly %><%= link_to li.assembly.name, li.assembly if li.assembly %><%= ")" if li.assembly %></span>
                          </td>
                          <td>
                            <span class="th" aria-hidden="true">Description</span>
                            <span><%= li.part.description %></span>
                          </td>
                        <% end %>
                    <% else %>
                      <td>
                          <span class="th" aria-hidden="true">Part</span>
                          <span><%= link_to li.part.label, part_path(li.part), data: { turbo_frame: "modal" } %></span>
                      </td>
                      <td>
                          <span class="th" aria-hidden="true"><%= capital_assembly %></span>
                          <span><%= li.assembly ? link_to(li.sequence_label, li.assembly) : "-" %></span>
                      </td>
                    <% end %>
                    <td>
                        <span class="th" aria-hidden="true">Cost per Unit</span>
                        <span class="no-break"><%= number_to_cost(li.cost_per_unit) %></span>
                    </td>
                    <td>
                        <span class="th" aria-hidden="true">Received</span>
                        <span class="flex">
                            <%= link_to li.parts_received_ordered, parts_received_list_line_item_path(li), data: { turbo_frame: "modal" } %>
                            <%= link_to "+", new_part_received_path(line_item_id: li.id), class: "button mini" %>
                        </span>
                    </td>
                    <td>
                        <span class="th" aria-hidden="true">Discount</span>
                        <span><%= (li.discount && li.discount > 0) ? "#{(li.discount*100).to_i}%" : "-" %></span>
                    </td>
                    <td>
                      <span class="th" aria-hidden="true">Total Cost</span>
                      <span class="no-break">
                          <%= li.discount ? number_to_currency(li.cost_per_unit * li.quantity * (1 - li.discount)) : number_to_cost(li.cost_per_unit * li.quantity) %>
                      </span>
                    </td>
                    <td>
                      <span class="th" aria-hidden="true">Expected Delivery</span>
                      <span class="no-break">
                          <%= li.expected_delivery %>
                      </span>
                    </td>
                    <td>
                      <span class="th" aria-hidden="true">Status / Location</span>
                      <span class="no-break">
                        <%= li.status_location %>
                      </span>
                    </td>
                    <td>
                      <span class="th" aria-hidden="true">O&M Warranty</span>
                      <span class="no-break">
                        <%= li.om_warranty %>
                      </span>
                    </td>
                    <td>
                      <span class="th" aria-hidden="true">Notes</span>
                      <span class="no-break">
                        <%= li.notes %>
                      </span>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>