<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render partial: "pages/notice", locals: { modal: false } %>

    <%= link_to "Back to Job", job_path(@additional_part.job), class: "button back-button mb-3 normal-top-margin" %>

    <%= render @additional_part %>

    <%= link_to "Edit This Additional Part", edit_additional_part_path(@additional_part), class: "button edit-button primary" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy This Additional Part", additional_part_path(@additional_part), method: :delete, class: "button delete" %>
    </div>
  </div>
</div>
