<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render partial: "pages/notice", locals: { modal: false } %>

    <%= link_to "Back to Shipment", shipment_path(@part_received.shipment), class: "button back-button mb-3 normal-top-margin" %>

    <%= render @part_received %>

    <%= link_to "Edit This Part Received", edit_part_received_path(@part_received), class: "button edit-button" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy This Part Received", part_received_path(@part_received), method: :delete, class: "button delete" %>
    </div>
  </div>
</div>
