<%= form_with(model: unit, class: "contents") do |form| %>
  <div class="form">
    <% if unit.errors.any? %>
      <div id="error_explanation" class="popup pulse shadow rounded-md mx-auto">
        <div class="flex space-x-4">
          <div class="flex-1">
            <h2><span class="mr-2">&#10006;</span> <%= pluralize(unit.errors.count, "error") %> prohibited this assembly from being saved:</h2>
            <ul id="errors">
              <% unit.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>

    <div class="form-field">
      <% unit.job_id = params[:job_id] if params[:job_id] %>
      <%= form.label :job_id, class: "required" %>
      <%= form.select :job_id, { unit.job.name => unit.job_id } || job_select_list(current_user.current_team, "none"), {} %>
    </div>

    <div class="form-field">
      <%= form.label :assembly_id, "#{capital_assembly}", class: "required" %>
      <%= form.select :assembly_id, options_for_select(assembly_select_list(unit)), {} %>
    </div>

    <div class="form-field">
      <%= form.label :quantity, class: "required" %>
      <%= form.number_field :quantity %>
    </div>

    <div class="inline">
      <%= form.submit class: "button primary" %>
    </div>
  </div>
<% end %>