<div class="w-full wheelbarrow-screws-bg">
  <%= render partial: "pages/notice", locals: { modal: false } %>

  <div class="lg:flex justify-between items-center">
    <h1 class="block sm:inline">Manufacturers</h1>
    <div class="button-row">
      <%= link_to 'CSV Import', csv_import_form_manufacturer_path, class: "button export-csv-button primary normal-top-margin", data: { turbo_frame: "modal" } %>
      <%= link_to 'CSV Export', csv_export_manufacturer_path, class: "button export-csv-button normal-top-margin" %>
      <%= link_to "New Manufacturer", new_manufacturer_path, class: "button add-button primary normal-top-margin", data: { turbo_frame: "modal" } %>
    </div>
  </div>

  <%= render partial: "pages/search_filter", 
              locals: { 
                show_filters: false, 
                parent_params: params.except(:controller, :action, :page, :order_by, :order).to_unsafe_h,
                target: "manufacturer_table",
                filters: [["text", "Name", "name"],
                          ["select", "Vendor", "vendor"]]
              } %>

  <div id="manufacturers" class="min-w-full">
    <%= render partial: "manufacturer_table" %>
  </div>
</div>
