<!DOCTYPE html>
<html>
  <head>
    <title>Partr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.typekit.net/xam4aep.css">    
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('partr_white.svg') %>
  </head>

  <body>
    <%= turbo_frame_tag "modal" %>
    <header class="bg-jet flex flex-row items-center">
      <div class="flex flex-row items-center">
        <a id="logo_container" aria-label="Home" href=<%= current_user ? "/teams/#{current_user.current_team.id}/home" : "/" %>>
          <%= image_tag("partr_white.svg", alt: 'logo', id: "logo") %>
        </a>
      </div>
      <% if current_tenant %>
        <div id="org-team" class="flex space-x-2 items-center px-4">
          <% if current_tenant.logo.attached? %>
            <h1 id="company-logo" aria-label=<%= current_tenant.name %>>
              <div class="img-ctn">
                <%= image_tag current_tenant.logo.variant(:thumb) %>
              </div>
            </h1>
          <% else %>
            <h1><%= current_tenant.name %></h1>
          <% end %>
          <% if current_user&.current_team %>
            <% if current_user.teams.length > 1 || (current_user.is_admin && current_tenant.teams.length > 1) %>
              <h2><%= link_to current_user.current_team.name, change_team_team_path, style: "color:grey", data: { turbo_frame: "modal" } %></h2>
            <% else %>
              <h2><%= current_user.current_team.name %></h2>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <svg id="mobile-icon" class="ham hamRotate ham1 sm:hidden" viewBox="0 0 100 100" width="50">
        <path
          class="ham-line top"
          d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40" 
          />
        <path
          class="ham-line middle"
          d="m 30,50 h 40" 
          />
        <path
          class="ham-line bottom"
          d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40" 
          />
      </svg>

      <%= image_tag("partr-header.png", alt: 'silhouettes of workers carrying larger than life supplies', style: 'padding: .75rem; opacity: .2;', class: 'filter-to-snow silhouettes hidden sm:block') %>
    </header>

    <section class="flex">
    <% if current_user %>
      <nav>
        <ul class="w-1/2 sm:w-full leading-6 md:leading-8">
          <% if current_tenant.teams.length > 0 %>
            <li class="<%= active_class("/teams/#{current_user.current_team.id}/home") %>">
              <%= link_to "Home", "/teams/#{current_user.current_team.id}/home", class: "home" %>
            </li>
            <li class="<%= active_class("/teams/#{current_user.current_team.id}/jobs") %>">
              <%= link_to "Jobs", "/teams/#{current_user.current_team.id}/jobs", class: "jobs" %>
            </li>
            <li class="<%= active_class("/teams/#{current_user.current_team.id}/orders") %>">
              <%= link_to "Orders", "/teams/#{current_user.current_team.id}/orders", class: "orders" %>
            </li>
            <li class="<%= active_class("/teams/#{current_user.current_team.id}/shipments") %>">
              <%= link_to "Shipments", "/teams/#{current_user.current_team.id}/shipments", class: "shipments" %>
            </li>
            <li class="<%= active_class('/assemblies') %>">
              <%= link_to plural_capital_assembly, "/assemblies", class: "assemblies" %>
            </li>
            <li class="<%= active_class('/parts') %>">
              <%= link_to "Parts", "/parts", class: "parts" %>
            </li>
            <li class="<%= active_class('/manufacturers') %>">
              <%= link_to "Manufacturers", "/manufacturers", class: "manufacturers" %>
            </li>
            <li class="<%= active_class('/vendors') %>">
              <%= link_to "Vendors", "/vendors", class: "vendors" %>
            </li>
            <li class="<%= active_class('/customers') %>">
              <%= link_to "Customers", "/customers", class: "customers" %>    
            </li>      
          </ul>
          <ul class="w-1/2 sm:w-full leading-6 md:leading-8">
            <hr class="mx-3 my-3 hidden sm:block">
          <% end %>
          <% if current_user == current_tenant.owner %>
            <li class="<%= active_class(organization_path(current_tenant)) %>">
              <%= link_to current_tenant.abbr_name, organization_path(current_tenant), class: "organization" %>    
            </li>
          <% end %>
          <% if current_user.is_admin %>
            <li class="<%= active_class(teams_path) %>">
              <%= link_to "Teams", teams_path, class: "teams" %>    
            </li>
            <li class="<%= active_class('/users') %>">
              <%= link_to "Users", "/users", class: "users" %>    
            </li>
          <% end %>
          <li class="<%= active_class("/users/#{current_user.id}/edit") %>">
            <%= link_to "Account", edit_user_registration_path(current_user), class: "account" %>    
          </li>
          <div class="mx-2">
            <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "button logout normal-top-margin" %>
          </div>  
          <%= image_tag("screwdriver.png", alt: 'muscle man with giant screwdriver and screw', style: 'padding: .75rem;', class: 'filter-to-white') %>
        </ul>
        <div class="gradient"></div>

      </nav>
    <% end %>
      <main class="container mx-auto px-5 pt-5 flex">
        <%= yield %>
      </main>
    </section>
  </body>
</html>
